/* media design for laptop */
@media (min-width: 992px) {
  .bg-img01 {
    background-size: cover;
  }

  .carousel-item img {
    height: auto !important;
  }

  .paralax-img01 {
    background-size: cover !important;
  }

  .paralax-img02 {
    background-size: cover !important;
  }
}

/* custom carousel arrows, idicators and caption */
.carousel-item {
  height: 70vh;
}

.carousel-indicators li {
  background-color: transparent !important;
  border: 1px solid #ffffff !important;
}
.carousel-indicators .active {
  background-color: #ffffff !important;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

/* specification for backgroung images */
.bg-img01 {
  background-image: url('../img/image1.jpg');
  height: 60vh;
  background-attachment: fixed;
}

.paralax-img01 {
  background-image: url('../img/lights.jpg');
  background-attachment: fixed;
  background-size: contain;
}

.paralax-img02 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/media.jpg');
  background-attachment: fixed;
  background-size: contain;
}

/* used colors */
.bg-red {
  background-color: #ff0000;
}

.bg-blue {
  background-color: #334fff;
}

.bg-black {
  background-color: #000000;
}

.bg-dark-gray {
  background-color: #333333;
}

.accordion .card {
  background-color: #212121;
}
